* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
    
}
.navbar{
    display: flex;
    justify-content: space-between; /* logo left me, lik right me */
    align-items: center;
    padding: 20px 5%;
    background-color: #2c3e50; /*color is dark blue*/
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
.nev-links{
    display: flex;
    list-style: none;
}
.nav-links li{
    margin-left: 20px;
}
.nav-links a{
    color: white;
    text-decoration: none; /*remove the underline*/
font-weight: bold;
}
.nav-links a:hover {
     color: rgb(227, 204, 48);
     transition: 0.3s ease; /* yeh effect ko smooth banayega, jhatke se nahi hoga*/
}
.hero{
    height: 85vh; /* Screen ki 80% height*/
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80%27');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;  /*horizontally center*/
    align-items: center;   /*vertically center*/
    color: white;
    text-align: center;
}
.hero-content h1{
    font-size: 3rem;
    margin-bottom: 15px;
    font-weight: 700;
}
.highlight{
  colour: #3498db;
}
.hero-content p{
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #ddd;
}
/*button styling*/
.btn-primary{
    padding: 12px 25px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
}
.btn-secondary{
    padding: 12px 25px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: #2980b9;
}
.services {
    padding: 80px 5%;
    text-align: center;
    background-color: #f9f9f9;
}
.services h2{
    font-size: 2.5rem;
    margin-bottom: 40px;
    color:#2c3e50 ;
}
.services-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.services-card{
    background: white;
    padding: 40px 20px;
    border-radius: 20px;
    width: 320px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05); /*soft shadow for premium look*/
    transition: transform 0.3s ease; /*animation smooth karne k liye*/ 
}
.services-card :hover{
    transform: translateY(-10px); /*hover karne par card thoda uper dikhega*/
    border-bottom: 4px solid #3498db;
}
.icon{
    font-size: 3rem;
    color: #3498db;
    margin-bottom: 20px;
}
.services-card h3{
    margin-bottom: 15px;
    color: #333;
}
.services-card i{
    font-size: 3.5rem;
    color: #3498db;
    margin-bottom: 25px;
}
.about{
    padding: 100px 10%;
    background-color: white;
}
.about-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;   /*taki mobile per ek ke niche ek aa jaye*/
}
.about-imgage img{
    width: 100%;
    max-width: 380px;
    border-radius: 25px;  /*Designer Touch: blue shadow for depth*/
    box-shadow: 20px 20px 0px rgba(52,152,219,0.2);
}
.about-text{
    flex: 1;
    min-width: 300px;
}
.about-text h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #2c3e50;
}
.about-text p{
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
    margin-bottom: 20px;
}
.contact{
    padding: 80px 5%;
    background-color: #f9f9f9;
    text-align: center;
}
.contact-container {
 max-width: 500px;
 margin: 40px auto;
 background: white;
 padding: 30px;
 border-radius: 15px;
 box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input,textarea{
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    font-family: inherit;
}
footer{
    padding: 30px;
    background: #2c3e50;
    color: white;
    text-align: center;
    font-size: 0.9rem;
}
#theme-toggle{
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.dark-theme{                                        /*dark mode hone pe puri body ka rang badlna*/
    background-color: #1a1a1a !important;
    color: white !important;
}
/* Dark mode hone pe cards ko bhi dark karna*/
.dark-theme .contact-container,.dark-theme form{
    background-color: #2d2d2d;
    color: white;
}
#theme-toggle{
    margin-top: 30px;
    padding: 12px 24px;
    font-weight: bold;
}
