
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   border: none;
   outline: none;
   scroll-behavior: smooth;
   font-family: 'Poppins',sans-serif;
    
}
:root{
    --bg-color: #081b29;               /*deep dark Blue*/
    --second-bg-color: #112e42;   /*slightly lighter blue card*/
    --text-color: #ededed ;   /*off white for reability*/
    --main-color: #00abf0;      /*neon blue for buttons*/      
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header.sticky {                      /*jab scroll kare tab background dark karne ke liye*/
    background: var(--bg-color);
}
.logo{
    font-size: 25px;
    color: var(--main-color);
    font-weight: 700;
    pointer-events: auto;
}
.logo span{
    color: var(--main-color);
    text-shadow: 0 0 10px var(--main-color);
}

.navbar a{
    font-size: 18px;
    color: var(--main-color);
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover, .navbar a.active{
    color: var(--main-color);
}
.hero{
    height: 85vh; /* Screen ki 80% height*/
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80%27');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;  /*horizontally center*/
    align-items: center;   /*vertically center*/
    color: white;
    text-align: center;
}
.hero-content h1{
    font-size: 3rem;
    margin-bottom: 15px;
    font-weight: 700;
}
.highlight{
  color: #3498db;
}
.hero-content p{
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #ddd;
}
/*button styling*/
.btn-primary{
    padding: 12px 25px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
}
.btn-secondary{
    padding: 12px 25px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: #2980b9;
}
.services {
    padding: 80px 5%;
    text-align: center;
    background-color:var(--bg-color);
}
.services h2{
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: var(--text-color) ;
}
.services-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.services-card{
    background: white;
    padding: 40px 20px;
    border-radius: 20px;
    width: 320px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05); /*soft shadow for premium look*/
    transition: transform 0.3s ease; /*animation smooth karne k liye*/ 
}
.services-card :hover{
    transform: translateY(-10px); /*hover karne par card thoda uper dikhega*/
    border-bottom: 4px solid #3498db;
}
.icon{
    font-size: 3rem;
    color: #3498db;
    margin-bottom: 20px;
}
.services-card h3{
    margin-bottom: 15px;
    color: #333;
}
.services-card i{
    font-size: 3.5rem;
    color: #3498db;
    margin-bottom: 25px;
}
.services-card p{
    color: #112e42;
}

.about{
    padding: 100px 10%;
    background-color: var(--bg-color);
}
.about-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;   /*taki mobile per ek ke niche ek aa jaye*/
}
.about-image img{
    width: 100%;
    max-width: 350px;
    border-radius: 20px;  /*Designer Touch: blue shadow for depth*/
    box-shadow: 0 0 20px var(--main-color);
    object-fit: cover;
    height: 350px;
    aspect-ratio: 1/1;
}
.about-text{
    flex: 1;
    min-width: 300px;
}
.about-text h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--main-color);
}
.about-text p{
    font-size: 1.1rem;
    line-height: 1.8;
    color: white;
    margin-bottom: 20px;
}
.contact{
    padding: 100px 10%;
    background-color: var(--bg-color);
    text-align: center;
}
.contact-container {
 max-width: 500px;
 margin: 40px auto;
 background: rgba(17,46,66,0.5);
 padding: 30px;
 border-radius: 15px;
 border: 1px solid var(--main-color);
 box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
.contact h2{
    color: var(--text-color);
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
}
.contact h2 span{
    color: var(--main-color);
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input,textarea{
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    font-family: inherit;
}
footer{
    padding: 30px;
    background: #2c3e50;
    color: white;
    text-align: center;
    font-size: 0.9rem;
}
#theme-toggle{
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


#theme-toggle{
    margin-top: 30px;
    padding: 12px 24px;
    font-weight: bold;
}
